POSTGRES_DB=blariyo
POSTGRES_USER=blariyo
POSTGRES_PASSWORD=replace_with_local_only_password

DB_HOST=127.0.0.1
DB_PORT=45432
DB_NAME=blariyo
DB_USER=blariyo
DB_PASSWORD=replace_with_local_only_password
DB_POOL_MAX=10
